body{
  background-color:lightgreen;
}
hr{
border-style:none;
border-top-style:dotted;
border-color:red;
border-width:5px;
width:40px;
}
h1{
  color:forestgreen;

}
h3{
  color:red;
}
h2{
  color:sky;
