body{
background-color: #99b898;
}
hr{
border-style:none;
border-top-style:dotted;
border-color:grey;
border-width:5px;
width:40px;

}
h1{
  color:forestgreen;

}
h3{
  color:Red;
  font-size: 2rem;
}
.profile-image{
  height:300px;
  width: 300px;
}
a{
  text-decoration: none;
  padding:10px 15px;
}
a:hover{
color:gray;
}
@media(max-width:1078px){
  #head{
      text-align:center;
  }
  }

.top{
  background-color:lightgreen;
}
.container-fluid{
  padding: 2% 3%;
}
.details{
  font-family:"Montserrat";
  padding: 5% 5%;
  background-color:#7fdbda;
  position: relative;
}

.detail-box{
  text-align: center;
}
.icon{
  color:olive;
  margin-bottom: 10px;
}
.icon:hover{
  color: blue;
}
.contact{
    text-align: center;
    padding: 5% 5%;
    background-color: #87d4c5;
}
.footer{
  text-align: center;
  background-color:lightblue;
  padding:10px 0 5px 0;

}
.copyright{
  color:white;
  font-size:.75rem;
  padding-top:10px;
}
.personal-image{
  height: 500px;
  width: 400px;
}
.carousel-item{
    padding:5% 10%;
}
.carousel-inner{
  text-align: center;
  padding:7% 15%;
  background-color:#ade498;
}
.cbutton {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #77b55a), color-stop(1, #72b352) );
	background:-moz-linear-gradient( center top, #77b55a 5%, #72b352 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#77b55a', endColorstr='#72b352');
	background-color:#77b55a;
	-webkit-border-top-left-radius:10px;
	-moz-border-radius-topleft:10px;
	border-top-left-radius:10px;
	-webkit-border-top-right-radius:10px;
	-moz-border-radius-topright:10px;
	border-top-right-radius:10px;
	-webkit-border-bottom-right-radius:10px;
	-moz-border-radius-bottomright:10px;
	border-bottom-right-radius:10px;
	-webkit-border-bottom-left-radius:10px;
	-moz-border-radius-bottomleft:10px;
	border-bottom-left-radius:10px;
text-indent:0;
	border:1px solid #4b8f29;
	display:inline-block;
	color:#ffffff;
	font-family:arial;
	font-size:2rem;
	font-weight:bold;
	font-style:normal;
height:40px;
	line-height:30px;
width:150px;
	text-decoration:none;
	text-align:center;
	text-shadow:0px 1px 0px #5b8a3c;
}.cbutton:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #72b352), color-stop(1, #77b55a) );
	background:-moz-linear-gradient( center top, #72b352 5%, #77b55a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#72b352', endColorstr='#77b55a');
	background-color:#72b352;
}.cbutton:active {
	position:relative;
	top:1px;
}
